<footer class="fixed-bottom d-flex justify-content-around footer-btn">
    <a href="/home">
        <i class="fas fa-clipboard-check"></i>
    </a>
    <a href="/ranking">
        <i class="fas fa-trophy"></i>
    </a>
    <a href="/profile">
        <i class="fas fa-user"></i>
    </a>
</footer>