<div>
    <header class="d-flex justify-content-center home-header">
        <h2 id="home-title">十大貼神</h2>
    </header>
    <section class="best-tipster d-flex justify-content-center">
        <ul>
            <li class="d-flex justify-content-start best-worst-title">
                <a href="/ranking">
                    <i class="fas fa-angle-left"></i>
                </a>
                <h3>十大貼神</h3>
            </li>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">Alex</div>
                    <div class="ranking-rate">90%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">校長</div>
                    <div class="ranking-rate">89%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">叻仔</div>
                    <div class="ranking-rate">85%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">送禮</div>
                    <div class="ranking-rate">80%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">河輝</div>
                    <div class="ranking-rate">78%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">Perry</div>
                    <div class="ranking-rate">75%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">Accelerate</div>
                    <div class="ranking-rate">70%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">大小姐</div>
                    <div class="ranking-rate">60%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">送水輝</div>
                    <div class="ranking-rate">54%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">獎門人</div>
                    <div class="ranking-rate">50%</div>
                </li>
            </a>
        </ul>
    </section>
    {{> footer }}
</div>