<script type='text/javascript' src="/js/history.js"></script>

<div>
    <header class="d-flex justify-content-center history-header">
        <h2 id="history-soon">近十場預測</h2>
    </header>
    <section class="best-tipster d-flex justify-content-center">
        <ul>
            <li class="d-flex justify-content-start history-back">
                <a href="/profile">
                    <i class="fas fa-angle-left"></i>
                </a>
                <h3>返回</h3>
            </li>
            <table class="table">
                <thead>
                    <tr class="his-table-title">
                        <th scope="col">日期</th>
                        <th scope="col">賽事</th>
                        <th scope="col">賽果</th>
                        <th scope="col">預測</th>
                    </tr>
                </thead>
                <tbody id="recent-10-history" class="his-table-body">
                </tbody>
            </table>
        </ul>
    </section>
    {{> footer }}
</div>