<body>
    <header class="d-flex justify-content-center history-header">
        <h2 id="history-soon">近十場預測</h2>
    </header>
    <section class="best-tipster d-flex justify-content-center">
        <ul>
            <li class="d-flex justify-content-start history-back">
                <a href="/profile">
                    <i class="fas fa-angle-left"></i>
                </a>
                <h3>返回</h3>
            </li>
            <table class="table">
                <thead>
                    <tr class="his-table-title">
                        <th scope="col">日期</th>
                        <th scope="col">賽事</th>
                        <th scope="col">賽果</th>
                        <th scope="col">預測</th>
                    </tr>
                </thead>
                <tbody class="his-table-body">
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">10/10</th>
                        <td>天水圍飛馬 vs 格拉斯哥流浪</td>
                        <td>1:1</td>
                        <td>唔中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                    <tr>
                        <th scope="row">23/5</th>
                        <td>曼聯 vs 李斯特城</td>
                        <td>2:1</td>
                        <td>中</td>
                    </tr>
                </tbody>
            </table>
        </ul>
    </section>
    {{> footer }}
</body>