<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TIPSON WEB APP</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">
</head>

<body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
        </header>

        <main role="main" class="inner cover">
            <h1 id="cover-head" class="cover-heading">你的預測</h1>
            <!--YOUR PREDICTION-->
            <hr>
            <p class="lead">

            </p>
        </main>
        <br>

        <!-- MATCH TABLE START -->
        <div class="row-fluid">
            <div class="span12 tbl-cont">
                <div class="padding-lr20 table-responsive">
                    <table width="100%" id="ranking-content-table" class="tipson-table" cellpadding="0" cellspacing="0">
                        <thead class="#">
                            <tr>
                                <th class="pd-home" colspan="3">FIXTURE #1</th>
                            </tr>
                        </thead>
                        <tbody class="tbl-hdr">
                            <tr>
                                <td>
                                    <img src="/team1.svg" alt="" class="badgeContainer">
                                </td>
                                <td>
                                    <div class="title-text bold-text text-center w70 nowrap-text"></div>
                                </td>
                                <td>
                                        <img src="/team1.svg" alt="" class="badgeContainer">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="title-text bold-text text-center w70 nowrap-text">Manchester United</div>
                                </td>
                                <td>
                                    <div class="title-text bold-text text-center w70 nowrap-text">vs.</div>
                                </td>
                                <td>
                                    <div class="title-text bold-text text-center w70 nowrap-text">Leicester City</div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>

                            <tr>
                                <td>
                                    <button type="button" class="btn btn-primary">HOME</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning">DRAW</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success">AWAY</button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button type="button" class="btn btn-danger btn-sm">提交</button>
                                </td>
                            </tr>
                        </tfoot>



                    </table>
                </div>
            </div>
        </div>
        <!-- MATCH TABLE ENDS -->

        <br>

        <footer class="mastfoot mt-auto">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <a href="/home" class="btn btn-outline-primary btn-main active" role="button" title="首頁 Home">
                        <i class="fas fa-home"></i>
                    </a>
                    <span style="width: 50px"></span>
                    <a href="/ranking" class="btn btn-outline-light btn-main" role="button" title="排行榜 Ranking">
                        <i class="fas fa-list-ol"></i>
                    </a>
                    </button>
                    <span style="width: 50px"></span>
                    <a href="/search" class="btn btn-outline-light btn-main" role="button" title="搜尋 Search">
                        <i class="fas fa-search"></i>
                    </a>
                    <span style="width: 50px"></span>
                    <a href="/profile" class="btn btn-outline-light btn-main" role="button" title="個人檔案 Profile">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </nav>
            </div>
        </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>

</html>