<body>
    <header class="d-flex justify-content-center home-header">
        <h2 id="home-title">你的預測</h2>
        <p id="home-date">{{{date}}}</p>
    </header>
    {{> home-prediction }}
    {{> home-prediction }}
    {{> footer }}
</body>