<body>
    <header class="d-flex justify-content-center home-header">
        <h2 id="home-title">你的預測</h2>
        <p id="home-date">{{{date}}}</p>
    </header>
    <section class="btn-group d-flex justify-content-center home-prediction" role="button" aria-label="prediction">
        <button type="button" class="btn btn-secondary prediction-btn"><img src="/images/team-mun.svg" alt="" class="badgeContainer"><p>曼聯</p></button>
        <button type="button" class="btn btn-secondary prediction-btn"><h3>和</h3></button>
        <button type="button" class="btn btn-secondary prediction-btn"><img src="/images/team-lei.svg" alt="" class="badgeContainer"><p>李斯特城</p></button>
        <button class="btn btn-success" id="submit-btn" type="submit">提交</button>
    </section>
        <section class="btn-group d-flex justify-content-center home-prediction" role="button" aria-label="prediction">
        <button type="button" class="btn btn-secondary prediction-btn"><img src="/images/team-mun.svg" alt="" class="badgeContainer"><p>曼聯</p></button>
        <button type="button" class="btn btn-secondary prediction-btn"><h3>和</h3></button>
        <button type="button" class="btn btn-secondary prediction-btn"><img src="/images/team-lei.svg" alt="" class="badgeContainer"><p>李斯特城</p></button>
        <button class="btn btn-success" id="submit-btn" type="submit">提交</button>
    </section>
    <footer class="d-flex justify-content-center fixed-bottom footer-btn">
      <a href="/home"><i class="fas fa-clipboard-check"></i></a>
      <a href="/ranking"><i class="fas fa-trophy"></i></a>
      <a href="/profile"><i class="fas fa-user"></i></a>
   </footer>
</body>