<script type='text/javascript' src="/js/home.js"></script>


<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    </header>

    <main role="main" class="inner cover">
        <h1 id="cover-head" class="cover-heading">你的預測</h1>
        <!--YOUR PREDICTION-->
        <hr>
        <p class="lead">

        </p>
    </main>
    <br>

    <!-- MATCH TABLE START -->
    <div>
        <div id="match-table">
        </div>
    </div>
    <!-- MATCH TABLE ENDS -->

    <br>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <nav class="nav nav-masthead justify-content-center">
                <a href="/home" class="btn btn-outline-primary btn-main active" role="button" title="首頁 Home">
                    <i class="fas fa-home"></i>
                </a>
                <span style="width: 50px"></span>
                <a href="/ranking" class="btn btn-outline-light btn-main" role="button" title="排行榜 Ranking">
                    <i class="fas fa-list-ol"></i>
                </a>
                </button>
                <span style="width: 50px"></span>
                <a href="/search" class="btn btn-outline-light btn-main" role="button" title="搜尋 Search">
                    <i class="fas fa-search"></i>
                </a>
                <span style="width: 50px"></span>
                <a href="/profile" class="btn btn-outline-light btn-main" role="button" title="個人檔案 Profile">
                    <i class="fas fa-user-circle"></i>
                </a>
            </nav>
        </div>
    </footer>
</div>