
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TIPSON WEB APP</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
      </header>

      <main role="main" class="inner cover">
        <h1 id="cover-head" class="cover-heading">Tipson</h1>
        <h1 id="cover-head-chinese" class="cover-heading">貼神</h1>
        
        <hr>
        <p class="lead"> 
          <!--Improve your hit rate and profit with Tipson, the only marketplace where everyone can buy and sell football tips in Hong Kong.-->
        人人都是足球專家
        </p>
      </main>
      <br><br>
      <div role="login" class="login_cover">
        <p class="lead">
          <!-- <a href="#" class="btn btn-lg btn-info fas fa-user-plus"> Sign up now</a><br><hr> -->
          <a href="#" class="btn btn-lg btn-success fab fa-weixin"> 微信登入</a><br><br><!--Log in with WeChat-->
          <a href="#" class="btn btn-lg btn-primary fab fa-facebook-square"> Facebook登入</a> 
        </p>
      </div>

      <footer class="mastfoot mt-auto">
          <div class="inner">
              <!-- <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/home">首頁</a> //home
                <a class="nav-link" href="#">排行榜</a> //ranking
                <a class="nav-link" href="#">搜尋</a> //search
                <a class="nav-link" href="/contact">個人檔案</a> //profile, and make this button to a profile pic
              </nav>
            </div> -->
            <br>
              <div class="trademark">
                <a href="/home">home</a><hr>
                <p>Tipson&trade; 2018-2019<p>
            </div>
      </footer>

      
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
