<body>
    <main class="d-flex flex-column" id="landing-main">
            <h1 id="landing-h1">Tipson</h1>
            <h2 id="landing-h2">貼神</h2>
            <h3 id="landing-h3">鍵盤足球專家</h3>
    </main>
    <div class="d-flex justify-content-center">
        <a href="/auth/facebook" class="btn btn-primary fab fa-facebook-square" id="fb-login">Facebook登入</a>
    </div>
    <footer class="trademark d-flex justify-content-center" id="landing-footer">
        <p>Tipson&trade; 2018<p>
    </footer>
</body>