<body>
    <header class="d-flex justify-content-center home-header">
        <h2 id="home-title">個人檔案</h2>
    </header>
    <section class="d-flex justify-content-center about-users">
        <p>111</p>
    </section>
    <footer class="d-flex justify-content-center fixed-bottom footer-btn">
        <a href="/home">
            <i class="fas fa-clipboard-check"></i>
        </a>
        <a href="/ranking">
            <i class="fas fa-trophy"></i>
        </a>
        <a href="/profile">
            <i class="fas fa-user"></i>
        </a>
    </footer>
</body>