<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <div>
      <h1>個人檔案
        <i class="far fa-thumbs-up"></i>
      </h1>

      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-8 col-sm-6">

            <div class="card hovercard">
              <div class="cardheader">

              </div>
              <div class="avatar">
                <img alt="avatar" src="/images/avatar.png">
              </div>
              <div class="info">
                <div class="title-info">
                  <a target="_blank" href="#">Perry Chan</a>
                </div>
                <ul>
                  <li>Passionate designer</li>
                  <li>Curious developer</li>
                  <li>Tech geek</li>
                </ul>
              </div>
              <div class="profile-userbuttons">
                <button type="button" class="btn-success profile-btn btn-md">999
                  <br>信徒</button>
                <!-- fans -->

                <button type="button" class="btn-danger profile-btn btn-md">3
                  <br>偶像</button>
                <!-- following -->
              </div>

              <br>

              <div class="bottom">
                <a class="btn btn-primary  btn-lg" href="#">
                  總預測
                  <br>388
                </a>
                <a class="btn btn-success btn-lg" href="#">
                  總勝出
                  <br>189
                </a>
                <a class="btn btn-danger btn-lg" href="#">
                  勝率
                  <br>49%
                </a>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="text-center nowrap-text" itemprop="offers">
        <span class="block margin-b5 bold-text title-text">歷史預測</span>
        <span class="block margin-b5 bold-text title-text">全部</span>
        <br>
        <span class="block margin-b5 bold-text title-text">近十場結果 (左為最新)</span>
        <div class="result-box">
          <div class="w50p margin-auto bar-box">
            <span class="card-result-bar green-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar green-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar red-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar green-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar green-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar red-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar red-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar green-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar green-bg margine-l3">&nbsp;</span>
            <span class="card-result-bar green-bg ">&nbsp;</span>
          </div>
        </div>
      </div>
    </div>
  </main>






  <br>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a href="/home" class="btn btn-outline-light btn-main" role="button" title="首頁 Home">
          <i class="fas fa-home"></i>
        </a>
        <span style="width: 50px"></span>
        <a href="/ranking" class="btn btn-outline-light btn-main" role="button" title="排行榜 Ranking">
          <i class="fas fa-list-ol"></i>
        </a>
        </button>
        <span style="width: 50px"></span>
        <a href="/search" class="btn btn-outline-light btn-main" role="button" title="搜尋 Search">
          <i class="fas fa-search"></i>
        </a>
        <span style="width: 50px"></span>
        <a href="/profile" class="btn btn-outline-primary active btn-main" role="button" title="個人檔案 Profile">
          <i class="fas fa-user-circle"></i>
        </a>
      </nav>
    </div>
  </footer>
</div>