<script type='text/javascript' src="/js/ranking.js"></script>

<div>
    <header class="d-flex justify-content-center home-header">
        <h2 id="home-title">排行榜</h2>
    </header>
    <section class="best-tipster d-flex justify-content-center">
        <ul>
            <li class="d-flex justify-content-end ranking-title">
                <h3>十大貼神</h3>
                <a href="/best">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <div id="best-tipster">
            </div>
        </ul>

    </section>
    <section class="worst-tipster d-flex justify-content-center">
        <ul>
            <li class="d-flex justify-content-end ranking-title">
                <h3>十大燈神</h3>
                <a href="/worst">
                    <i class="fas fa-angle-right"></i>
                </a>
            </li>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">誠哥</div>
                    <div class="ranking-rate">0%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">Max</div>
                    <div class="ranking-rate">1%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">B朗</div>
                    <div class="ranking-rate">3%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">美欺</div>
                    <div class="ranking-rate">4%</div>
                </li>
            </a>
            <a href="#" class="ranking-link">
                <li class="d-flex justify-content-between ranking-content">
                    <div>
                        <img src="/images/avatar.png" class="img-fluid rounded ranking-pic" alt="user-image">
                    </div>
                    <div class="ranking-name">美猴王齊天大聖孫悟空</div>
                    <div class="ranking-rate">5%</div>
                </li>
            </a>
        </ul>
    </section>

    {{> footer }}
</div>