
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>TIPSON WEB APP</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/cover.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
      </header>

      <main role="main" class="inner cover">
        <h1 id="cover-head" class="cover-heading">排行榜</h1>
        <hr>
        <p class="lead">
          Improve your hit rate and profit with Tipson</p>
      </main>



      <div class="row-fluid">
        <div class="span12">
            <div class="padding-lr20 table-responsive">
                <table width="100%" id="ranking-content-table" class="betting-runner-table" cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Tipster</th>
                            <th>Profit</th>
                            <th>Yield</th>
                            <th>Hit rate</th>
                            <th>N. of tips</th>
                            <th>Votes</th>
                            <th>Subscribe</th>
                        </tr>
                    </thead>
                    <tbody>            
                               
<tr >    
  <td>
    <div class="great-primer-text text-center scooter-text bold-text">1</div>
  </td>
  <td>
    <div class="clearfix w190 margin-auto">
      <div class="w60 pull-left margin-r10">
        <a href="/en/tipsters/asen-lv.html" class="block">
          <img src="/images/avatar/2015/5596/avatar_60.jpg" height="60" width="60" alt="Tipster asen-lv" title="Tipster asen-lv" class="avatar-radius-60"/>
        </a>
      </div>

      <div class="pull-left margin-t8">
        <div class="w120 nowrap-text">
          <a class="subtitle-text bold-text fuscous-gray-text" href="/en/tipsters/asen-lv.html">asen-lv</a>
        </div>

        <div class="f16 subtitle-text fuscous-gray-text bold-text w120 nowrap-text">
          <span class="flag bg"></span> Bulgaria
        </div>
      </div>
    </div>                                        
  </td>      
          <td><div class="title-text bold-text text-center w85 nowrap-text">30151</div></td>                
          <td><div class="title-text bold-text text-center w70 nowrap-text">32%</div></td>

  <td>
    <div class="title-text bold-text text-center w70 nowrap-text">67%</div>
  </td>

  <td>
    <div class="title-text bold-text text-center w85 nowrap-text">98</div>
  </td>

  <td>
    <div class="legend-text fuscous-gray-text margin-auto text-center w131">
      


  



<div class="box-vote-stars text-center vote-object-5596">
        <i stars-vote="1" id-object-vote="5596" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="2" id-object-vote="5596" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="3" id-object-vote="5596" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="4" id-object-vote="5596" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="5" id-object-vote="5596" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
        <div class="object-number-vote-5596">1901&nbsp;VOTES</div>
</div>                 
    </div>
  </td>

  <td>
            <div class="text-center">      

      <div class="btn-group" id-user-follow="5596">
                    
                                                                                                                    
              <a class="btn btn-success w90 btn-purchase track-analytic-event" category-track="Tasti tipster ranking" action-track="ranking_rank_button" href="#" data-seller-id="5596">SUBSCRIBE</a>     
                                           
          <a class="btn btn-default dropdown-toggle track-analytic-event" data-toggle="dropdown" href="#" category-track="Tasti tipster ranking" action-track="freccetta"><span class="caret"></span></a>          
          <ul class="dropdown-menu">
            <li>            
          <a class="btn-follow-user track-analytic-event" id-vip="5596" href="javascript:void(0)" category-track="Tasti tipster ranking" action-track="follow">
            <i class="fa fa-heart thunderbird-text"></i>&nbsp;
            <span class="text-btn-follow">Follow</span>
          </a>
            </li>
          </ul>
                  </div>
    </div>
  </td>
  

</tr>    
   
<tr >    
  <td>
    <div class="great-primer-text text-center scooter-text bold-text">2</div>
  </td>
  <td>
    <div class="clearfix w190 margin-auto">
      <div class="w60 pull-left margin-r10">
        <a href="/en/tipsters/glediii.html" class="block">
          <img src="/images/avatar/2014/244/avatar_60.jpg" height="60" width="60" alt="Tipster Glediii" title="Tipster Glediii" class="avatar-radius-60"/>
        </a>
      </div>

      <div class="pull-left margin-t8">
        <div class="w120 nowrap-text">
          <a class="subtitle-text bold-text fuscous-gray-text" href="/en/tipsters/glediii.html">Glediii</a>
        </div>

        <div class="f16 subtitle-text fuscous-gray-text bold-text w120 nowrap-text">
          <span class="flag al"></span> Albania
        </div>
      </div>
    </div>                                        
  </td>      
          <td><div class="title-text bold-text text-center w85 nowrap-text">18512</div></td>                
          <td><div class="title-text bold-text text-center w70 nowrap-text">56%</div></td>

  <td>
    <div class="title-text bold-text text-center w70 nowrap-text">58%</div>
  </td>

  <td>
    <div class="title-text bold-text text-center w85 nowrap-text">40</div>
  </td>

  <td>
    <div class="legend-text fuscous-gray-text margin-auto text-center w131">
      


  



<div class="box-vote-stars text-center vote-object-244">
        <i stars-vote="1" id-object-vote="244" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="2" id-object-vote="244" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="3" id-object-vote="244" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="4" id-object-vote="244" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="5" id-object-vote="244" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
        <div class="object-number-vote-244">279&nbsp;VOTES</div>
</div>                 
    </div>
  </td>

  <td>
            <div class="text-center">      

      <div class="btn-group" id-user-follow="244">
                    
                                                                                                                    
              <a class="btn btn-success w90 btn-purchase track-analytic-event" category-track="Tasti tipster ranking" action-track="ranking_rank_button" href="#" data-seller-id="244">SUBSCRIBE</a>     
                                           
          <a class="btn btn-default dropdown-toggle track-analytic-event" data-toggle="dropdown" href="#" category-track="Tasti tipster ranking" action-track="freccetta"><span class="caret"></span></a>          
          <ul class="dropdown-menu">
            <li>            
          <a class="btn-follow-user track-analytic-event" id-vip="244" href="javascript:void(0)" category-track="Tasti tipster ranking" action-track="follow">
            <i class="fa fa-heart thunderbird-text"></i>&nbsp;
            <span class="text-btn-follow">Follow</span>
          </a>
            </li>
          </ul>
                  </div>
    </div>
  </td>
  

</tr>    
   
<tr >    
  <td>
    <div class="great-primer-text text-center scooter-text bold-text">3</div>
  </td>
  <td>
    <div class="clearfix w190 margin-auto">
      <div class="w60 pull-left margin-r10">
        <a href="/en/tipsters/nickbet.html" class="block">
          <img src="/images/avatar/2017/19018/avatar_60.jpg" height="60" width="60" alt="Tipster NickBet" title="Tipster NickBet" class="avatar-radius-60"/>
        </a>
      </div>

      <div class="pull-left margin-t8">
        <div class="w120 nowrap-text">
          <a class="subtitle-text bold-text fuscous-gray-text" href="/en/tipsters/nickbet.html">NickBet</a>
        </div>

        <div class="f16 subtitle-text fuscous-gray-text bold-text w120 nowrap-text">
          <span class="flag al"></span> Albania
        </div>
      </div>
    </div>                                        
  </td>      
          <td><div class="title-text bold-text text-center w85 nowrap-text">15454</div></td>                
          <td><div class="title-text bold-text text-center w70 nowrap-text">172%</div></td>

  <td>
    <div class="title-text bold-text text-center w70 nowrap-text">44%</div>
  </td>

  <td>
    <div class="title-text bold-text text-center w85 nowrap-text">9</div>
  </td>

  <td>
    <div class="legend-text fuscous-gray-text margin-auto text-center w131">
      


  



<div class="box-vote-stars text-center vote-object-19018">
        <i stars-vote="1" id-object-vote="19018" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="2" id-object-vote="19018" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="3" id-object-vote="19018" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="4" id-object-vote="19018" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="5" id-object-vote="19018" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
        <div class="object-number-vote-19018">1306&nbsp;VOTES</div>
</div>                 
    </div>
  </td>

  <td>
            <div class="text-center">      

      <div class="btn-group" id-user-follow="19018">
                    
                                                                                                                    
              <a class="btn btn-success w90 btn-purchase track-analytic-event" category-track="Tasti tipster ranking" action-track="ranking_rank_button" href="#" data-seller-id="19018">SUBSCRIBE</a>     
                                           
          <a class="btn btn-default dropdown-toggle track-analytic-event" data-toggle="dropdown" href="#" category-track="Tasti tipster ranking" action-track="freccetta"><span class="caret"></span></a>          
          <ul class="dropdown-menu">
            <li>            
          <a class="btn-follow-user track-analytic-event" id-vip="19018" href="javascript:void(0)" category-track="Tasti tipster ranking" action-track="follow">
            <i class="fa fa-heart thunderbird-text"></i>&nbsp;
            <span class="text-btn-follow">Follow</span>
          </a>
            </li>
          </ul>
                  </div>
    </div>
  </td>
  

</tr>    
   
<tr >    
  <td>
    <div class="section-text text-center scooter-text bold-text">4</div>
  </td>
  <td>
    <div class="clearfix w190 margin-auto">
      <div class="w60 pull-left margin-r10">
        <a href="/en/tipsters/mengalimtiaz.html" class="block">
          <img src="/images/avatar/2016/7764/avatar_60.jpg" height="60" width="60" alt="Tipster mengalimtiaz" title="Tipster mengalimtiaz" class="avatar-radius-60"/>
        </a>
      </div>

      <div class="pull-left margin-t8">
        <div class="w120 nowrap-text">
          <a class="subtitle-text bold-text fuscous-gray-text" href="/en/tipsters/mengalimtiaz.html">mengalimtiaz</a>
        </div>

        <div class="f16 subtitle-text fuscous-gray-text bold-text w120 nowrap-text">
          <span class="flag gb"></span> United kingdom
        </div>
      </div>
    </div>                                        
  </td>      
          <td><div class="title-text bold-text text-center w85 nowrap-text">15278</div></td>                
          <td><div class="title-text bold-text text-center w70 nowrap-text">510%</div></td>

  <td>
    <div class="title-text bold-text text-center w70 nowrap-text">67%</div>
  </td>

  <td>
    <div class="title-text bold-text text-center w85 nowrap-text">3</div>
  </td>

  <td>
    <div class="legend-text fuscous-gray-text margin-auto text-center w131">
      


  



<div class="box-vote-stars text-center vote-object-7764">
        <i stars-vote="1" id-object-vote="7764" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="2" id-object-vote="7764" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="3" id-object-vote="7764" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="4" id-object-vote="7764" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="5" id-object-vote="7764" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
        <div class="object-number-vote-7764">162&nbsp;VOTES</div>
</div>                 
    </div>
  </td>

  <td>
            <div class="text-center">      

      <div class="btn-group" id-user-follow="7764">
                    
                                                                                                                    
              <a class="btn btn-success w90 btn-purchase track-analytic-event" category-track="Tasti tipster ranking" action-track="ranking_rank_button" href="#" data-seller-id="7764">SUBSCRIBE</a>     
                                           
          <a class="btn btn-default dropdown-toggle track-analytic-event" data-toggle="dropdown" href="#" category-track="Tasti tipster ranking" action-track="freccetta"><span class="caret"></span></a>          
          <ul class="dropdown-menu">
            <li>            
          <a class="btn-follow-user track-analytic-event" id-vip="7764" href="javascript:void(0)" category-track="Tasti tipster ranking" action-track="follow">
            <i class="fa fa-heart thunderbird-text"></i>&nbsp;
            <span class="text-btn-follow">Follow</span>
          </a>
            </li>
          </ul>
                  </div>
    </div>
  </td>
  

</tr>    
   
<tr >    
  <td>
    <div class="section-text text-center scooter-text bold-text">5</div>
  </td>
  <td>
    <div class="clearfix w190 margin-auto">
      <div class="w60 pull-left margin-r10">
        <a href="/en/tipsters/c._alberto.html" class="block">
          <img src="/images/avatar/2017/37395/avatar_60.jpg" height="60" width="60" alt="Tipster C. Alberto" title="Tipster C. Alberto" class="avatar-radius-60"/>
        </a>
      </div>

      <div class="pull-left margin-t8">
        <div class="w120 nowrap-text">
          <a class="subtitle-text bold-text fuscous-gray-text" href="/en/tipsters/c._alberto.html">C. Alberto</a>
        </div>

        <div class="f16 subtitle-text fuscous-gray-text bold-text w120 nowrap-text">
          <span class="flag ro"></span> Romania
        </div>
      </div>
    </div>                                        
  </td>      
          <td><div class="title-text bold-text text-center w85 nowrap-text">6151</div></td>                
          <td><div class="title-text bold-text text-center w70 nowrap-text">124%</div></td>

  <td>
    <div class="title-text bold-text text-center w70 nowrap-text">40%</div>
  </td>

  <td>
    <div class="title-text bold-text text-center w85 nowrap-text">5</div>
  </td>

  <td>
    <div class="legend-text fuscous-gray-text margin-auto text-center w131">
      


  



<div class="box-vote-stars text-center vote-object-37395">
        <i stars-vote="1" id-object-vote="37395" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="2" id-object-vote="37395" type="0" class="fa fa-star vote-star dynamic-medium-text active-star yellow-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="3" id-object-vote="37395" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="4" id-object-vote="37395" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
            <i stars-vote="5" id-object-vote="37395" type="0" class="fa fa-star vote-star dynamic-medium-text mercury-text track-analytic-event" category-track="Tasti tipster ranking" action-track="votes (stelline)"></i>
        <div class="object-number-vote-37395">65&nbsp;VOTES</div>
</div>                 
    </div>
  </td>

  <td>
            <div class="text-center">      

      <div class="btn-group" id-user-follow="37395">
                    
                                                                                                                    
              <a class="btn btn-success w90 btn-purchase track-analytic-event" category-track="Tasti tipster ranking" action-track="ranking_rank_button" href="#" data-seller-id="37395">SUBSCRIBE</a>     
                                           
          <a class="btn btn-default dropdown-toggle track-analytic-event" data-toggle="dropdown" href="#" category-track="Tasti tipster ranking" action-track="freccetta"><span class="caret"></span></a>          
          <ul class="dropdown-menu">
            <li>            
          <a class="btn-follow-user track-analytic-event" id-vip="37395" href="javascript:void(0)" category-track="Tasti tipster ranking" action-track="follow">
            <i class="fa fa-heart thunderbird-text"></i>&nbsp;
            <span class="text-btn-follow">Follow</span>
          </a>
            </li>
          </ul>
                  </div>
    </div>
  </td>
  

</tr>    
                      </tbody>   
                  
                </table>        
            </div>
        </div>
    </div>
  
                    





      
      <br><br>
      <div role="contact-form" class="contact form">
    
      </div>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a href="/home" class="btn btn-outline-light" role="button" title="首頁 Home">
              <i class="fas fa-home"></i>
            </a>
             <span style="width: 50px"></span>
            <a href="/ranking" class="btn btn-outline-primary active" role="button" title="排行榜 Ranking">
              <i class="fas fa-list-ol"></i>
            </a>
            </button>
             <span style="width: 50px"></span>
            <a href="/search" class="btn btn-outline-light" role="button" title="搜尋 Search">
              <i class="fas fa-search"></i>
            </a>
            <span style="width: 50px"></span>
            <a href="/profile" class="btn btn-outline-light" role="button" title="個人檔案 Profile">
              <i class="fas fa-user-circle"></i>
            </a>
          </nav>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
