<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
    </header>

    <main role="main" class="inner cover">
      <h1 id="cover-head" class="cover-heading">排行榜</h1>
    </main>


    <!-- RANKING BEST TOP 10 TABLE START -->
    <div class="row-fluid">
      <div class="span12 tbl-cont">
        <div class="padding-lr20 table-responsive">
          <table width="100%" id="ranking-content-table" class="tipson-table" cellpadding="0" cellspacing="0">
            <thead class="#">
              <tr>
                <th class="lead tbl-title" colspan="4">
                  十大貼神</th>
              </tr>
            </thead>
            <thead class="tbl-hdr">
              <tr>
                <th>Rank</th>
                <th>Tipster</th>
                <th>Yield</th>
                <th>Hit rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="text-center scooter-text bold-text">1</div>
                </td>
                <td>
                  <div class="clearfix w190 margin-auto">
                    <div class="w60 pull-left margin-r10">
                      <a href="#" class="block">
                        <img src="/images/avatar.png" height="60" width="60" alt="Tipster Perry" title="Tipster Perry" class="avatar-radius-60" />
                      </a>
                    </div>
                    <div class="pull-left margin-t8">
                      <div class="w120 nowrap-text">
                        <a class="subtitle-text bold-text fuscous-gray-text" href="#">Perry</a>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">32%</div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">67%</div>
                </td>
              </tr>


              <tr>
                <td>
                  <div class="text-center scooter-text bold-text">2</div>
                </td>
                <td>
                  <div class="clearfix w190 margin-auto">
                    <div class="w60 pull-left margin-r10">
                      <a href="#" class="block">
                        <img src="" height="60" width="60" alt="Tipster Howell" title="Tipster Howell" class="avatar-radius-60" />
                      </a>
                    </div>
                    <div class="pull-left margin-t8">
                      <div class="w120 nowrap-text">
                        <a class="subtitle-text bold-text fuscous-gray-text" href="#">Howell</a>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">80%</div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">67%</div>
                </td>

                <tr>
                  <td>
                    <div class="text-center scooter-text bold-text">3</div>
                  </td>
                  <td>
                    <div class="clearfix w190 margin-auto">
                      <div class="w60 pull-left margin-r10">
                        <a href="#" class="block">
                          <img src="" height="60" width="60" alt="Tipster Jonathan" title="Tipster Jonathan" class="avatar-radius-60" />
                        </a>
                      </div>
                      <div class="pull-left margin-t8">
                        <div class="w120 nowrap-text">
                          <a class="subtitle-text bold-text fuscous-gray-text" href="#">Jonathan</a>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="title-text bold-text text-center w70 nowrap-text">77%</div>
                  </td>
                  <td>
                    <div class="title-text bold-text text-center w70 nowrap-text">82%</div>
                  </td>


                  <tr>
                    <td>
                      <div class="text-center scooter-text bold-text">4</div>
                    </td>
                    <td>
                      <div class="clearfix w190 margin-auto">
                        <div class="w60 pull-left margin-r10">
                          <a href="#" class="block">
                            <img src="" height="60" width="60" alt="Tipster Ken" title="Tipster Ken" class="avatar-radius-60" />
                          </a>
                        </div>
                        <div class="pull-left margin-t8">
                          <div class="w120 nowrap-text">
                            <a class="subtitle-text bold-text fuscous-gray-text" href="#">Ken</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="title-text bold-text text-center w70 nowrap-text">30%</div>
                    </td>
                    <td>
                      <div class="title-text bold-text text-center w70 nowrap-text">65%</div>
                    </td>

                    <tr>
                      <td>
                        <div class="text-center scooter-text bold-text">5</div>
                      </td>
                      <td>
                        <div class="clearfix w190 margin-auto">
                          <div class="w60 pull-left margin-r10">
                            <a href="#" class="block">
                              <img src="" height="60" width="60" alt="Tipster George" title="Tipster George" class="avatar-radius-60" />
                            </a>
                          </div>
                          <div class="pull-left margin-t8">
                            <div class="w120 nowrap-text">
                              <a class="subtitle-text bold-text fuscous-gray-text" href="#">George</a>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="title-text bold-text text-center w70 nowrap-text">79%</div>
                      </td>
                      <td>
                        <div class="title-text bold-text text-center w70 nowrap-text">82%</div>
                      </td>

                      <tr>
                        <td>
                          <div class="text-center scooter-text bold-text">6</div>
                        </td>
                        <td>
                          <div class="clearfix w190 margin-auto">
                            <div class="w60 pull-left margin-r10">
                              <a href="#" class="block">
                                <img src="" height="60" width="60" alt="Tipster David" title="Tipster David" class="avatar-radius-60" />
                              </a>
                            </div>
                            <div class="pull-left margin-t8">
                              <div class="w120 nowrap-text">
                                <a class="subtitle-text bold-text fuscous-gray-text" href="#">David</a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="title-text bold-text text-center w70 nowrap-text">90%</div>
                        </td>
                        <td>
                          <div class="title-text bold-text text-center w70 nowrap-text">75%</div>
                        </td>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- RANKING BEST TOP 10 TABLE ENDS -->

    <br><br>

    <!-- RANKING LEAST 10 TABLE START -->
    <div class="row-fluid">
      <div class="span12 tbl-cont">
        <div class="padding-lr20 table-responsive">
          <table width="100%" id="ranking-content-table" class="tipson-table" cellpadding="0" cellspacing="0">
            <thead class="#">
              <tr>
                <th class="lead tbl-title" colspan="4">
                  十大燈神</th>
              </tr>
            </thead>
            <thead class="tbl-hdr">
              <tr>
                <th>Rank</th>
                <th>Tipster</th>
                <th>Yield</th>
                <th>Hit rate</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <div class="text-center scooter-text bold-text">1</div>
                </td>
                <td>
                  <div class="clearfix w190 margin-auto">
                    <div class="w60 pull-left margin-r10">
                      <a href="#" class="block">
                        <img src="" height="60" width="60" alt="Tipster Perry" title="Tipster Perry" class="avatar-radius-60" />
                      </a>
                    </div>
                    <div class="pull-left margin-t8">
                      <div class="w120 nowrap-text">
                        <a class="subtitle-text bold-text fuscous-gray-text" href="#">Perry</a>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">32%</div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">67%</div>
                </td>
              </tr>


              <tr>
                <td>
                  <div class="text-center scooter-text bold-text">2</div>
                </td>
                <td>
                  <div class="clearfix w190 margin-auto">
                    <div class="w60 pull-left margin-r10">
                      <a href="#" class="block">
                        <img src="" height="60" width="60" alt="Tipster Howell" title="Tipster Howell" class="avatar-radius-60" />
                      </a>
                    </div>
                    <div class="pull-left margin-t8">
                      <div class="w120 nowrap-text">
                        <a class="subtitle-text bold-text fuscous-gray-text" href="#">Howell</a>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">80%</div>
                </td>
                <td>
                  <div class="title-text bold-text text-center w70 nowrap-text">67%</div>
                </td>

                <tr>
                  <td>
                    <div class="text-center scooter-text bold-text">3</div>
                  </td>
                  <td>
                    <div class="clearfix w190 margin-auto">
                      <div class="w60 pull-left margin-r10">
                        <a href="#" class="block">
                          <img src="" height="60" width="60" alt="Tipster Jonathan" title="Tipster Jonathan" class="avatar-radius-60" />
                        </a>
                      </div>
                      <div class="pull-left margin-t8">
                        <div class="w120 nowrap-text">
                          <a class="subtitle-text bold-text fuscous-gray-text" href="#">Jonathan</a>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="title-text bold-text text-center w70 nowrap-text">77%</div>
                  </td>
                  <td>
                    <div class="title-text bold-text text-center w70 nowrap-text">82%</div>
                  </td>


                  <tr>
                    <td>
                      <div class="text-center scooter-text bold-text">4</div>
                    </td>
                    <td>
                      <div class="clearfix w190 margin-auto">
                        <div class="w60 pull-left margin-r10">
                          <a href="#" class="block">
                            <img src="" height="60" width="60" alt="Tipster Ken" title="Tipster Ken" class="avatar-radius-60" />
                          </a>
                        </div>
                        <div class="pull-left margin-t8">
                          <div class="w120 nowrap-text">
                            <a class="subtitle-text bold-text fuscous-gray-text" href="#">Ken</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="title-text bold-text text-center w70 nowrap-text">30%</div>
                    </td>
                    <td>
                      <div class="title-text bold-text text-center w70 nowrap-text">65%</div>
                    </td>

                    <tr>
                      <td>
                        <div class="text-center scooter-text bold-text">5</div>
                      </td>
                      <td>
                        <div class="clearfix w190 margin-auto">
                          <div class="w60 pull-left margin-r10">
                            <a href="#" class="block">
                              <img src="" height="60" width="60" alt="Tipster George" title="Tipster George" class="avatar-radius-60" />
                            </a>
                          </div>
                          <div class="pull-left margin-t8">
                            <div class="w120 nowrap-text">
                              <a class="subtitle-text bold-text fuscous-gray-text" href="#">George</a>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="title-text bold-text text-center w70 nowrap-text">79%</div>
                      </td>
                      <td>
                        <div class="title-text bold-text text-center w70 nowrap-text">82%</div>
                      </td>

                      <tr>
                        <td>
                          <div class="text-center scooter-text bold-text">6</div>
                        </td>
                        <td>
                          <div class="clearfix w190 margin-auto">
                            <div class="w60 pull-left margin-r10">
                              <a href="#" class="block">
                                <img src="" height="60" width="60" alt="Tipster David" title="Tipster David" class="avatar-radius-60" />
                              </a>
                            </div>
                            <div class="pull-left margin-t8">
                              <div class="w120 nowrap-text">
                                <a class="subtitle-text bold-text fuscous-gray-text" href="#">David</a>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td>
                          <div class="title-text bold-text text-center w70 nowrap-text">90%</div>
                        </td>
                        <td>
                          <div class="title-text bold-text text-center w70 nowrap-text">75%</div>
                        </td>

            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- RANKING LEAST 10 TABLE ENDS -->

    <br><br>


    <!-- FOOTER BEGINS -->
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a href="/home" class="btn btn-outline-light btn-main" role="button" title="首頁 Home">
            <i class="fas fa-home"></i>
          </a>
          <span style="width: 50px"></span>
          <a href="/ranking" class="btn btn-outline-primary btn-main active" role="button" title="排行榜 Ranking">
            <i class="fas fa-list-ol"></i>
          </a>
          </button>
          <span style="width: 50px"></span>
          <a href="/search" class="btn btn-outline-light btn-main" role="button" title="搜尋 Search">
            <i class="fas fa-search"></i>
          </a>
          <span style="width: 50px"></span>
          <a href="/profile" class="btn btn-outline-light btn-main" role="button" title="個人檔案 Profile">
            <i class="fas fa-user-circle"></i>
          </a>
        </nav>
      </div>
    </footer>
  </div>