<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
  </header>

  <main role="main" class="inner cover">
    <h1 id="" class="cover-heading">搜尋</h1>
    <hr>

      <div>
    <form class="form-inline active-cyan-4">
      <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
      <i class="fa fa-search" aria-hidden="true"></i>
    </form>
  </div>

<hr>

    <h1 id="" class="cover-heading">篩選</h1>
    <hr>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">總預測
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">A</a></li>
      <li><a href="#">B</a></li>
      <li><a href="#">C</a></li>
    </ul>
  </div>
  <br><br>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">最近預測
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">A</a></li>
      <li><a href="#">B</a></li>
      <li><a href="#">C</a></li>
    </ul>
  </div>
  </main>









  <footer class="mastfoot mt-auto">
    <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
        <a href="/home" class="btn btn-outline-light btn-main" role="button" title="首頁 Home">
          <i class="fas fa-home"></i>
        </a>
        <span style="width: 50px"></span>
        <a href="/ranking" class="btn btn-outline-light btn-main" role="button" title="排行榜 Ranking">
          <i class="fas fa-list-ol"></i>
        </a>
        </button>
        <span style="width: 50px"></span>
        <a href="/search" class="btn btn-outline-primary btn-main active" role="button" title="搜尋 Search">
          <i class="fas fa-search"></i>
        </a>
        <span style="width: 50px"></span>
        <a href="/profile" class="btn btn-outline-light btn-main" role="button" title="個人檔案 Profile">
          <i class="fas fa-user-circle"></i>
        </a>
      </nav>
    </div>
  </footer>
</div>