/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: rgba(57,117,169);
  font-family: 'Courier New', Courier, monospace;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgb(255, 251, .5);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

#cover-head {
   font-family: 'Berkshire Swash', cursive;
   font-size: 60px;
}

#cover-head-chinese {
  font-size: 60px;
}

.nav-btn {
  font-size: 30px;
}

.ps-content {
 background-color: azure;
 border-style: double;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/*=========================================
         Ranking table style begins
=========================================*/

.tbl-hdr {
  background-color: yellow;
  font-size: 20px;
  color: black;
}

.bold-text {
  font-weight: bold;
  color: black;
}

.nowrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.scooter-text {
  color: orangered;
  font-size: 30px;
}

.avatar-radius-60 {
  border-radius: 30px;
}

.tipson-table  {
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  border-collapse: seperate;
  border: 3px solid black;
}

th {
  border: 3px solid black;
}

td {
  border: 1px solid black;
}

/** td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;

.text-center {
  text-align: center;
} **/

img {
  color: blue;
}

.tbl-title {
  color: black;
}

/*=========================================
         Ranking table style ends
=========================================*/

/*=========================================
         Match card table style begins
=========================================*/

.pd-home {
  color: red;
  background-color: blue;
}

.btn {
  width: 100px;
  border: 1px solid;
}






.btn-main{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }




/* search page */
.active-pink-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-pink-3 input[type=text] {
  border: 1px solid #f48fb1;
  box-shadow: 0 0 0 1px #f48fb1;
}
.active-purple-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-purple-3 input[type=text] {
  border: 1px solid #ce93d8;
  box-shadow: 0 0 0 1px #ce93d8;
}
.active-cyan-4 input[type=text]:focus:not([readonly]) {
  border: 1px solid #4dd0e1;
  box-shadow: 0 0 0 1px #d0ff00;
}
.active-cyan-3 input[type=text] {
  border: 1px solid #d2e14d;
  box-shadow: 0 0 0 1px #4dd0e1;
}
.active-cyan-3 .fa, .active-cyan-4 .fa {
  color: #e1d24d;
}
.active-purple-3 .fa, .active-purple-4 .fa {
  color: #ce93d8;
}
.active-pink-3 .fa, .active-pink-4 .fa {
  color: #f48fb1;
}


/* card result bar*/
.green-bg {
  background-color: rgb(30, 230, 30);
}

.red-bg {
  background-color: rgb(255, 0, 0)
}
.bar-box span {
  width: 8%;
  display: inline-block;
}

.card-result-bar{ 
  border-radius: 50%; 
  width:32px; 
  height:32px; 
  line-height:18px;  
}

.result-box {
  background-color: whitesmoke;
}

.profile-btn{ 
  border-radius: 50px;  
  width:150px; 
}




/* home - match table */

.badgeContainer {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}