body{
    background-color: #1E76AE;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

h1{
    font-family: 'Berkshire Swash', cursive;
    color: #FFF;
    font-size: 3em;
}